 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');

 /* Definindo css geral */
 * {
     margin: 0;
     padding: 0;
     font-family: 'Montserrat', sans-serif;
     font-weight: 300;
 }

 body {
    background-color: #ffffff;
 }

 /* Definição das classes gerais*/
 
 .container {
    padding: 0.5% 1%;
    display: flex;
 }

 
